.container {
    background: #F2F2F2;
}

.heading {
    width: 64px;
    height: 23px;
    left: 17px;
    top: 71px;

    font-family: PingFang SC;
    line-height: normal;
    font-size: 16px;
    text-align: center;

    color: #666666;
}

.tickets {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
}


.ticketAvailable {
    left: 0%;
    right: 0%;
    top: -9.41%;
    bottom: 0%;

    background: #FFFFFF;
}

.ticketLabel {
    left: 0%;
    right: 77.39%;
    top: 1.18%;
    bottom: 68.24%;
    
    font-family: PingFang SC;
    line-height: normal;
    font-size: 18px;
    
    color: #000000;
}

.ticketDescription {
    left: 0%;
    right: 68.09%;
    top: 37.65%;
    bottom: 42.35%;

    font-family: PingFang SC;
    line-height: normal;
    font-size: 12px;

    color: #999999;
}

.ticketPrice {
    position: relative;    
    left: 0%;
    right: 91.21%;
    top: 61.18%;
    bottom: 8.24%;

    font-family: PingFang SC;
    line-height: normal;
    font-size: 18px;
    text-align: right;

    color: #16B9FF;
}

.priceUnit {
    position: relative;   
    left: 0.3%;
    right: 86.93%;
    top: 64.71%;
    bottom: 11.76%;

    font-family: PingFang SC;
    line-height: normal;
    font-size: 14px;
    text-align: center;

    color: #16B9FF;
}

.ticketQuota {
    position: relative;    
    left: 0.8%;
    right: 68.92%;
    top: 57.24%;
    bottom: 36.75%;

    font-family: PingFang SC;
    line-height: normal;
    font-size: 12px;
    text-align: center;

    color: #E23B3B;
}

.buttonMinus {
    left: 66.2%;
    right: 17.98%;
    top: 24.71%;
    bottom: 30.59%;

    border: 0.5px solid #C5C5C5;
    box-sizing: border-box;

    display: inline-block;
    line-height: normal;
    height: 38px;
    width: 55px;
    color: #16B9FF;
}

.buttonNumber {
    left: 66.2%;
    right: 17.98%;
    top: 24.71%;
    bottom: 30.59%;

    border: 0.5px solid #C5C5C5;
    box-sizing: border-box;

    display: inline-block;
    line-height: normal;
    height: 38px;
    width: 63px;
}

.buttonPlus {
    left: 66.2%;
    right: 17.98%;
    top: 24.71%;
    bottom: 30.59%;

    border: 0.5px solid #C5C5C5;
    box-sizing: border-box;

    display: inline-block;
    line-height: normal;
    height: 38px;
    width: 55px;
    color: #16B9FF;
}

.buttonMinus[disabled] {
    color: #CACACA;
}

.buttonPlus[disabled] {
    color: #CACACA;
}